</div>
<footer>
  <div class="container">
    <div style="padding:30px 0;">
      <ul class="nav footer-nav">
        <li>
          {% if text_homepage == 'Homepage' %}
          <a href="http://whitepeony.eu/homepage" target="_blank">{{ text_homepage }}</a>
          {% else %}
          <a href="http://whitepeony.eu" target="_blank">{{ text_homepage }}</a>
          {% endif %}
        </li>
        <li>
          <a href="http://whitepeony.eu/obchodni_podminky" target="_blank">{{ text_terms_and_conditions }}</a>
        </li>
        <li>
          <a href="http://whitepeony.eu/uziti_web" target="_blank">{{ text_terms_of_use }}</a>
        </li>
        <li>
          <a href="http://whitepeony.eu/cookies" target="_blank">Cookies</a>
        </li>

      </ul>

    </div>
    <div class="footer-nav" style="display: flex;flex-direction: column;align-items: center;padding-bottom: 30px;">
      <div style="padding: 5px 0">© All Right Reserved. White Peony s.r.o.</div>
      <div style="padding: 5px 0">info@whitepeony.eu</div>
    </div>

    {#<hr>#}
    {#<p>{{ powered }}</p>#}
  </div>
</footer>
<div class="popupCookies" id="popupCookies">
  <div style="margin-bottom: 10px">
    Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte. Více o používání cookies <a href="http://whitepeony.eu/cookies" target="_blank">zde</a>.
  </div>
  <button type="button" class="btn btn-lg button-cookies">Ok</button>


</div>

{% for script in scripts %}
  <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
//-->
</div>
<script>
    $('#header-search').bind('click', function() {
        let url = 'index.php?route=product/search';
        var search = $('#search_header input[name=\'search\']').prop('value');
        if (search) {
            url += '&search=' + encodeURIComponent(search);
        }
        window.location.href = url;
    });

    $('#search_header input[name=\'search\']').bind('keydown', function(e) {
        if (e.keyCode == 13) {
            $('#header-search').trigger('click');
        }
    });

</script>

</body></html>