{#{% if categories %}#}
  {#<nav id="menu" class="navbar">#}
    {#<div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>#}
      {#<button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>#}
    {#</div>#}
    {#<div class="collapse navbar-collapse navbar-ex1-collapse">#}
      {#<ul class="nav navbar-nav">#}
        {#{% for category in categories %}#}
        {#{% if category.children %}#}
        {#<li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>#}
          {#<div class="dropdown-menu">#}
            {#<div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}#}
              {#<ul class="list-unstyled">#}
                {#{% for child in children %}#}
                {#<li><a href="{{ child.href }}">{{ child.name }}</a></li>#}
                {#{% endfor %}#}
              {#</ul>#}
              {#{% endfor %}</div>#}
            {#<a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>#}
        {#</li>#}
        {#{% else %}#}
        {#<li><a href="{{ category.href }}">{{ category.name }}</a></li>#}
        {#{% endif %}#}
        {#{% endfor %}#}
      {#</ul>#}
    {#</div>#}
  {#</nav>#}
{#{% endif %}#}
<nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a href="http://whitepeony.eu">HOME</a></li>
        <li><a href="{{ home }}">E-SHOP</a></li>
        <li><a href="http://whitepeony.eu/horeca_en">HORECA</a></li>
        <li>
          <a href="{{ home }}">
            <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" />
          </a>
        </li>
        <li><a href="http://whitepeony.eu/catering_en_cz">CATERING</a></li>
        <li><a href="http://whitepeony.eu/blog_en">BLOG</a></li>
        <li><a href="http://whitepeony.eu/contacts_en">CONTACTS</a></li>
      </ul>
    </div>
</nav>