<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/1999/REC-html401-19991224/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{ title }}</title>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #000000;">

<div style="width: 680px;"><a href="{{ store_url }}" title="{{ store_name }}"><img src="{{ logo }}" alt="{{ store_name }}" style="margin-bottom: 20px; border: none;width:80px;" /></a>
  {# <p style="margin-top: 0px; margin-bottom: 20px;">{{ text_greeting }}</p> #}
  <p style="margin-top: 0px; margin-bottom: 20px;">Vážený zákazníku,</p>
  <p style="margin-top: 0px; margin-bottom: 20px;">děkujeme za Vaši objednávku č. {{ order_id }} ze dne {{ date_added }}.</p>
  <p style="margin-top: 0px; margin-bottom: 20px;">Pro kontrolu posíláme její rekapitulaci.</p>

  <h2>Rekapitulace objednávky:</h2>
  <table style="border-collapse: collapse; width: 100%; border-top: 1px solid #DDDDDD; border-left: 1px solid #DDDDDD; margin-bottom: 20px;">
    <thead>
    <tr>
      <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">Položky objednávky</td>
      {# <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: left; padding: 7px; color: #222222;">{{ text_model }}</td> #}
      <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Množstv</td>
      <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Cena/ks</td>
      <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; background-color: #EFEFEF; font-weight: bold; text-align: right; padding: 7px; color: #222222;">Cena</td>
    </tr>
    </thead>
    <tbody>

    {% for product in products %}
      <tr>
        <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.name }}
            {% for option in product.option %}<br />
              &nbsp;<small> - {{ option.name }}: {{ option.value }}</small>{% endfor %}</td>
        {# <td style="font-size: 13px; border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ product.model }}</td> #}
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.quantity }}</td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.price }}</td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ product.total }}</td>
      </tr>
    {% endfor %}
    {% for voucher in vouchers %}
      <tr>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;">{{ voucher.description }}</td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: left; padding: 7px;"></td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">1</td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ voucher.amount }}</td>
      </tr>
    {% endfor %}
    </tbody>

    <tfoot>

    {% for total in totals %}
      <tr>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;" colspan="3"><b>{{ total.title }}:</b></td>
        <td style="font-size: 13px;	border-right: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; text-align: right; padding: 7px;">{{ total.text }}</td>
      </tr>
    {% endfor %}
    </tfoot>

  </table>  

  <br/>
  <h2>Údaje o objednávce:</h2>
  <div>Číslo objednávky: {{ order_id }}</div>
  <div>Datum objednávky: {{ date_added }}</div>
  <div>Doprava: {{ totals[1].title }}</div>
  <div>Platba: {{ totals[2].title }}</div>
  <br/>
  
  {% if comment %}
          <div style="color:red;">{{ comment }}</div>
          <br/>
  {% endif %}

  <h2>Údaje o zákazníkovi:</h2>
  <div style="font-weight: 700">Fakturační adresa:</div>
  <div>{{ payment_address }}</div>
  <br/>
  <div style="font-weight: 700">Doručovací adresa:</div>
  <div>{{ shipping_address }}</div>
  <br/>
 
<p style="margin-top: 0px; margin-bottom: 20px;font-weight:700;">{{ text_footer }}</p>
</div>
</body>
</html>
