{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-cod" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
	    <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_mypos_join }}
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
	    </div>

        {% if error_warning is defined and not error_warning is empty %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        {% if success is defined and not success is empty %}
            <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cod" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-10">
                            <select name="payment_mypos_virtual_status" id="input-status" class="form-control">
                                {% if payment_mypos_virtual_status %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-test">{{ entry_test }}</label>
                        <div class="col-sm-10">
                            <select name="payment_mypos_virtual_test" id="input-test" class="form-control">
                                {% if payment_mypos_virtual_test %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-logging">{{ entry_logging }}</label>
                        <div class="col-sm-10">
                            <select name="payment_mypos_virtual_logging" id="input-logging" class="form-control">
                                {% if payment_mypos_virtual_logging %}
                                <option value="1" selected="selected">{{ text_enabled }}</option>
                                <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                <option value="1">{{ text_enabled }}</option>
                                <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-10">
                            <input type="text" name="payment_mypos_virtual_sort_order" value="{{ payment_mypos_virtual_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                        </div>
                    </div>

                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" {% if payment_mypos_virtual_test %} class="active" {% endif %} style="padding-left: 117px;"><a href="#developer" aria-controls="home" role="tab" data-toggle="tab">Developer</a></li>
                            <li role="presentation" {% if not payment_mypos_virtual_test %} class="active" {% endif %}><a href="#production" aria-controls="profile" role="tab" data-toggle="tab">Production</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane {% if payment_mypos_virtual_test %} active {% endif %}" id="developer">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-sid"><span data-toggle="tooltip" title="{{ tooltip_sid }}">{{ entry_sid }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_developer_sid" value="{{ payment_mypos_virtual_developer_sid }}" placeholder="{{ entry_sid }}" id="input-developer-sid" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-wallet-number"><span data-toggle="tooltip" title="{{ tooltip_wallet_number }}">{{ entry_wallet_number }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_developer_wallet_number" value="{{ payment_mypos_virtual_developer_wallet_number }}" placeholder="{{ entry_wallet_number }}" id="input-developer-wallet-number" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-private-key"><span data-toggle="tooltip" title="{{ tooltip_private_key }}">{{ entry_private_key }}</label>
                                    <div class="col-sm-10">
                                        <textarea id="input-developer-private-key" name="payment_mypos_virtual_developer_private_key" class="form-control" rows="15">{{ payment_mypos_virtual_developer_private_key }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-public-certificate"><span data-toggle="tooltip" title="{{ tooltip_public_certificate }}">{{ entry_public_certificate }}</label>
                                    <div class="col-sm-10">
                            <textarea id="input-developer-public-certificate" name="payment_mypos_virtual_developer_public_certificate" class="form-control" rows="11">{{ payment_mypos_virtual_developer_public_certificate }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-url">{{ entry_developer_url }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_developer_url" value="{{ payment_mypos_virtual_developer_url }}" placeholder="{{ entry_developer_url }}" id="input-developer-url" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-keyindex"><span data-toggle="tooltip" title="{{ tooltip_keyindex }}">{{ entry_developer_keyindex }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_developer_keyindex" value="{{ payment_mypos_virtual_developer_keyindex }}" placeholder="{{ entry_developer_keyindex }}" id="input-developer-keyindex" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-developer-ppr"><span data-toggle="tooltip" title="{{ tooltip_ppr }}">{{ entry_ppr }}</label>
                                    <div class="col-sm-10">
                                        <select id="input-developer-ppr" name="payment_mypos_virtual_developer_ppr" class="form-control">
                                            <option value="1" {% if 1 == payment_mypos_virtual_developer_ppr %}selected{% endif %}>{{ text_full_requests }}</option>
                                            <option value="2" {% if 2 == payment_mypos_virtual_developer_ppr %}selected{% endif %}>{{ text_simplified_request }}</option>
                                            <option value="3" {% if 3 == payment_mypos_virtual_developer_ppr %}selected{% endif %}>{{ text_simplified_payment_page }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div role="tabpanel" class="tab-pane {% if not payment_mypos_virtual_test %} active {% endif %}" id="production">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-sid"><span data-toggle="tooltip" title="{{ tooltip_sid }}">{{ entry_sid }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_production_sid" value="{{ payment_mypos_virtual_production_sid }}" placeholder="{{ entry_sid }}" id="input-production-sid" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-wallet-number"><span data-toggle="tooltip" title="{{ tooltip_wallet_number }}">{{ entry_wallet_number }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_production_wallet_number" value="{{ payment_mypos_virtual_production_wallet_number }}" placeholder="{{ entry_wallet_number }}" id="input-production-wallet-number" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-private-key"><span data-toggle="tooltip" title="{{ tooltip_private_key }}">{{ entry_private_key }}</label>
                                    <div class="col-sm-10">
                            <textarea id="input-production-private-key" name="payment_mypos_virtual_production_private_key" class="form-control" rows="15">{{ payment_mypos_virtual_production_private_key }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-public-certificate"><span data-toggle="tooltip" title="{{ tooltip_public_certificate }}">{{ entry_public_certificate }}</label>
                                    <div class="col-sm-10">
                            <textarea id="input-production-public-certificate" name="payment_mypos_virtual_production_public_certificate" class="form-control" rows="11"> {{  payment_mypos_virtual_production_public_certificate }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-url">{{ entry_production_url }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_production_url" value="{{ payment_mypos_virtual_production_url }}" placeholder="{{ entry_production_url }}" id="input-production-url" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-keyindex"><span data-toggle="tooltip" title="{{ tooltip_keyindex }}">{{ entry_production_keyindex }}</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="payment_mypos_virtual_production_keyindex" value="{{ payment_mypos_virtual_production_keyindex }}" placeholder="{{ entry_production_keyindex }}" id="input-production-keyindex" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-production-ppr"><span data-toggle="tooltip" title="{{ tooltip_ppr }}">{{ entry_ppr }}</label>
                                    <div class="col-sm-10">
                                        <select id="input-production-ppr" name="payment_mypos_virtual_production_ppr" class="form-control">
                                            <option value="1" {% if 1 == payment_mypos_virtual_production_ppr %}selected{% endif %}>{{ text_full_requests }}</option>
                                            <option value="2" {% if 2 == payment_mypos_virtual_production_ppr %}selected{% endif %}>{{ text_simplified_request }}</option>
                                            <option value="3" {% if 3 == payment_mypos_virtual_production_ppr %}selected{% endif %}>{{ text_simplified_payment_page }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{{ footer }}